@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grey+Qo&family=Passion+One:wght@400;700;900&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    height: 220px;
}

header h1{
    font-family: 'Passion One';
    font-size: 8vw;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
}

header nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-top: 15px;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.normal{
    font-size: 25px;
    font-family: "Sriracha";
    line-height: 2em;
}

.img{
    display: block;
    background-color: rgba(0, 0, 0, 0.822);
    padding-top: 16vh;
    padding-bottom: 16vh;
}

.imgp{
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 25px;
    font-family: "Sriracha";
    line-height: 2em;
    max-width: 400px;
    padding-left: 20px;
}
#img1{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#img2{
    background-image: url(../imagens/background002.jpg);
        background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    height: 30px;
}

footer h3{
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}